<div id="wrap" class="main">
    <div class="container">
        <div class="sortBtn">
            <ul>
                <li class="large on"><a href="#"><i class="far fa-square"></i></a></li>
                <li class="quator"><a href="#"><i class="fas fa-th-large"></i></a></li>
                <li class="list"><a href="#"><i class="fas fa-list-ul"></i></a></li>
                <li class="search"><a href="#"><i class="fas fa-search"></i></a></li>
            </ul>
        </div>
        <h2 class="tripCount">
            지금까지 <span class="count">{{countTrip}}</span>개 나라를 여행 하였습니다.
        </h2>
        <div class="cardWrap large">
            {{#each tripList}}
                <div class="card" style="background-image: url(/images/creta.jpg);">
                    <a href="/tripInfo?visitNo={{visitNo}}">
                        <div class="imgBox">
                            {{#if visitTitle}}
                                <h5>{{visitTitle}}</h5>
                                {{else}}
                                <h5>{{country.kor}}</h5>
                            {{/if}}

                            {{#if visitSDate}}
                                <p>{{visitSDate}}~{{visitEDate}}</p>
                            {{/if}}
                            <img src="/images/flags/{{ccode}}.png" alt="" class="img-responsive">
                        </div>
                        <div class="textBox">
                            <ul>
                                <li>예산 : 1000000원</li>
                                <li>지출 : 1200000원</li>
                                <li>총계 : -200000원</li>
                            </ul>
                        </div>
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
    <a href="#" data-event="selCountry" class="addTrip">여행 추가하기</a>
    <form method="POST" id="createVisit" action="/createVisit">
        <input type="hidden" name="ccode"/>
        <input type="hidden" name="userNo" value="{{userNo}}"/>
    </form>
</div>
{{>contents/etc/selCountry}}
<script>
    $(".sortBtn  li").click(function(){
        var tg = $(this);
        var tc = tg[0].className;
        $(".sortBtn  li").removeClass("on");
        $(".cardWrap").removeClass("large quator list")
        tg.addClass("on")
        switch(tc){
            case "large":
                $(".cardWrap").addClass("large")
                break;
            case "quator":
                $(".cardWrap").addClass("quator")
                break;
            case "list":
                $(".cardWrap").addClass("list")
                break;
            default :
                return false;
                break;
        }
    })

    $("#selCountry .btnBox .selBtn").click(function(){
        if($("intput[name='ccode']").val()==""){
            alert("국가를 선택해주세요");
            return;
        }
        $("#createVisit").submit();
    })


</script>